@import 'mixins/size';

ul.endpoint-list > li {
  margin-bottom: 10px;
}
a.endpoint-link:hover {
  text-decoration: none;
}

a.endpoint-link:focus {
  text-decoration: none;
}

.api-response {
  max-height: 450px;
}

div.tree-view-wrapper {
  border: 1px solid darkgrey;
  @include border-radius();
  background: lightyellow;
  max-height: 400px;
}

.tree-view-item-value {
  color: darkslategrey;
  margin-right: 5px;
  font-weight: normal;
}

.tree-view-item-key {
  color: royalblue;
  font-size: 14px;
  font-weight: initial;
}

.tree-view-item-key-with-chevron {
  color: green;
  font-weight: initial;
}

.tree-view-item-key-with-chevron.opened {
  color: orangered;
  font-weight: normal;
}

ul.v-endpoint-list {
  list-style: none;
  margin-left: 5px;
  padding-left: 0;
}

ul.v-endpoint-list > li {
  padding-left: 1em;
  text-indent: -1em;
  padding-bottom: 10px;
}

ul.v-endpoint-list > li:before {
  content: '⚾️';
  padding-right: 10px;
}

@import 'syntax-highlight';
