[v-cloak] {
  display: none;
}

// Include Mixins
@import 'mixins/__index__';

// Fonts
@include google-font('Raleway:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

.content {
  margin: 20px;
  padding: 20px;
}

.version {
  font-size: 14px;
  font-weight: bold;
}
//Import section styles (used by Laravel resource/views)
@import 'message';
@import 'navbar';
@import 'resource';
@import 'contact';
@import 'about';
@import 'home';
@import 'footer';
