
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

div.message {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.content {
  border: 1px solid green;
  margin: 20px;
}

@import 'sticky-footer';
