
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

div.message {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.content {
  //border: 1px solid green;
  margin: 20px;
  padding: 20px;
}

/* override jumbotron background color to match site */
.jumbotron {
  background: #f3f7f9;
  p.tagline {
    font-size: 18px;
  }
  p.tagline-small {
    font-size: 14px;
  }
}

ul.endpoint-list > li {
  margin-bottom: 10px;
}
a.btn-endpoint:hover {
  text-decoration: none;
}

a.btn-endpoint:focus {
  text-decoration: none;
}

.api-response {
  max-height: 450px;
}

.avatar {
  padding-top: 8px;
}
@import 'sticky-footer';

@import 'syntax-highlight';
